{% extends "nav_base.html" %}

{% block title %}Questionnaire{% endblock %}

{% block content %}

<form action="{{ url_for('index', questionaire_name=questionaire_name) }}" method="post">
    {% for q_id in question_order %}
    {% set question = questionnaire.questions[q_id] %}


    <h3>{{ question.text }}</h3>
    <ul class="answers">
        {% for a_id in answer_order[q_id] %}
        <li>
            <input type="radio" id="a_{{ q_id }}_{{ a_id }}" name="question_{{ q_id }}" value="{{ a_id }}">
            <label for="a_{{ q_id }}_{{ a_id }}">{{ question.answers[a_id].text }}</label>
            {% if validity[q_id] == True and response[q_id] == a_id %}
            <span>(Correct!)</span>
            {% elif validity[q_id] == False and response[q_id] == a_id %}
            <span>(Incorrect!)</span>
            {% elif validity[q_id] == False and question.answers[a_id].correct == True %}
            <span>(This was the correct answer.)</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    <p><button type="submit" name="submitted" value="1">Submit</button></p>
</form>

{% endblock %}